{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<!-- Cette page aura un formulaire avec deux sections distinctes qui changeront du statut de l'utilisateur et du type de produit
 Si le produit est un produit physique qui nécessite une expédition, ns demanderons à l'utiilisateur de remplir la seconde partie
 du formulaire et ns masquerons si l'utilisateur commande un produit numériques
 -->
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form id="form">
                    <div id="user-info">
                        <div class="form-field">
							<input required class="form-control" type="text" name="name" placeholder="Name..">
						</div>
						<div class="form-field">
							<input required class="form-control" type="email" name="email" placeholder="Email..">
						</div>
                    </div>
                    <!-- Informations sur la livraison -->
                    <div id="shipping-info">
                        <hr>
						<p>Shipping Information:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="Address..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="City..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="state" placeholder="State..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="country" placeholder="Zip code..">
						</div>
                    </div>
                    <hr>
                    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                    <!--End Informations sur la livraison -->
                </form>

            </div>
            <br>
            <!-- Ces informations seront cachées jusqu'a ce que l'utilisateur remplisse ses coordonnées ou soit connecté -->
            <!-- Payement Option -->
            <div class="box-element hidden" id="payement-info">
                <small>Paypal Options</small>
            </div>
            <!-- End Payement Option -->

        </div>
        <!-- Récapitulatif de la commande -->
        <div class="col-lg-6">
            <div class="box-element">
                {% comment %} Ce lien permet à l'utilisateur de retourner au panier au cas ou l'utilisateur souhaite
                apporter des modifications {% endcomment %}
                <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
                <hr>
                <h3>Order Summary</h3>
                <hr>
                <div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{% static 'images/placeholder.png' %}"></div>
					<div style="flex:2"><p>Product 1</p></div>
					<div style="flex:1"><p>$20.00</p></div>
					<div style="flex:1"><p>x2</p></div>
				</div>
                <h5>Items:   2</h5>
				<h5>Total:   $4</h5>
            </div>
        </div>
        <!-- End Récapitulatif de la commande -->
    </div>
{% endblock %}